:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --nav-width-logo: 0px;
    --first-color: #093c5d;
    --first-color-alt: #9cacb3;
    --second-color: #022338;
  }
  
  * {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  main {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-size: 1rem;
    font-family: "Nunito Sans", sans-serif;
    transition: 0.5s;
  }
  
  .header {
    /* barra superior    border: black 5px dashed;*/
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0;
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--second-color);
    padding: 0 1rem 0.4rem;
    transition: 0.5s;
  }
  
  .header-toggle {
    font-size: 1.25rem;
    cursor: pointer;
    color: var(--first-color);
  }
  
  .sidebar {
    /* barra izquierda */
    position: fixed;
    top: 0px;
    left: -30%;
    height: 100vh;
    width: var(--nav-width);
    background-color: var(--first-color);
    padding-top: 0rem;
    transition: 0.5s;
  }
  
  .nav {
    /* barra izquierda  navlist */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    height: 100%;
  }
  
  .nav-logo,
  .nav-link {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 2rem;
    padding: 0.5rem 0 0.5rem 1.5rem;
  }
  
  .nav-logo {
    margin-bottom: 2rem;
  }
  
  .nav-logo-icon {
    /* formato de icono:color, fondo, puntero*/
    font-size: 1.25rem;
    color: var(--second-color);
    cursor: pointer;
  }
  
  .nav-logo-name {
    /* formato de icono con nombre:color, fondo*/
    font-weight: 700;
    color: var(--second-color);
  }
  
  .nav-link {
    position: relative;
    color: var(--first-color-alt);
    transition: 0.5s;
    margin-bottom: 1.5rem;
    border-radius: 10px;
  }
  
  .nav-link:hover {
    color: var(--second-color);
    background-color: rgba(248, 242, 242, 0.877);
  }
  
  .active {
    color: var(--second-color);
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .active::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 38px;
    width: 3px;
    background-color: var(--second-color);
    transition: 0.5s;
  }
  
  .show {
    left: 0;
  }
  
  .space-toggle {
    padding-left: calc(var(--nav-width) + 1rem); /* espacio de contenido*/
  }
  
  .ima {
    /* img itseeker*/
    max-width: 62.5px;
    max-height: 62.5px;
    margin-bottom: 0rem;
    margin-left: 0rem;
  
    padding: 0px 1px 1px 0px;
  }
  
  .nav-list {
    margin-top: 4rem;
  }
  
  .div-logo {
    max-width: 62.5px;
    max-height: 62.5px;
    float: left;
  }
  
  .div-bars {
    width: 30px;
    height: 10px;
    float: left;
    color:var(--first-color-alt);
  }
  
  @media screen and (min-width: 768px) {
    main {
      margin: calc(var(--header-height) + 1rem) 0 0 0;
      padding: 0 1rem 0 calc(var(--nav-width) + 2rem); /* espacio del contenido que desplegara el sidebar*/
    }
  
    .header {
      height: calc(var(--header-height) + 1rem);
      padding-left: calc(var(--nav-width-logo) + 0rem); /* usar otra variable*/
    }
  
    .sidebar {
      left: 0;
      padding: 1rem 0 0 0;
    }
  
    .show {
      width: calc(var(--header-height) + 156px);
    }
  
    .space-toggle {
      padding-left: calc(var(--nav-width) + 188px);
    }
  }